In [1]:
fruits = ["apple","chickoo","Banana",'pineapple']

for i in fruits:
    print(i)

apple
chickoo
Banana
pineapple

In [2]:
for i in fruits:
    print(i)
    if i == "Banana":
        break

apple
chickoo
Banana

In [3]:
for i in fruits:
    if i =="chickoo":
        continue
        
    print(i)

apple
Banana
pineapple

In [1]:
num = 0

while(num<10):
    num+=1
    if num==7:
         continue
    print(num)

1
2
3
4
5
6
8
9
10

## functions

In [2]:
def my_fun():
    print("this is my function:")
my_fun()

this is my function:

In [5]:
def my_ID(name):
    print("1001  "+name)
my_ID("fenil")

1001  fenil

In [6]:
def add(a,b,c,d,e):
    return a+b+c+d+e
add(5,6,7,8,9)

35

# using lambda expression

In [7]:
add = lambda a,b,c,d,e : print(a+b+c+d+e)
add(1,2,3,4,5)

15

In [15]:
nums = [1,2,3,4,5]

def sqr(n):
    return n*n
square = map(sqr, nums)
print(list(square))

[1, 4, 9, 16, 25]

# zip function

In [16]:
name = ["manjeet",'nikhil','shambhavi']
ID = [4,1,3]

mapped = zip(name, ID)
print(list(mapped))

[('manjeet', 4), ('nikhil', 1), ('shambhavi', 3)]