In [1]:
import pandas as pd

In [2]:
series = pd.Series([1,2,3,4,5])
print(series)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [6]:
print(type(series))

<class 'pandas.core.series.Series'>

In [4]:
series = pd.Series([1,2,3,4,5],index = ['a','b','c','d','e'])
print(series)

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [7]:
print(series['a'])

1

In [9]:
print(series['d'])

4

## pandas dataframes

In [14]:
data = pd.DataFrame([2,3,4,5,6])
print(data)

   0
0  2
1  3
2  4
3  5
4  6

In [15]:
data = pd.DataFrame({'name':['Tom','Jack',"dmith",'Ricky','Sam','Will',"root"],
                    'age':[28,34,35,36,35,23,33]})

In [16]:
print(data)

    name  age
0    Tom   28
1   Jack   34
2  dmith   35
3  Ricky   36
4    Sam   35
5   Will   23
6   root   33

In [19]:
data.head()

    name  age
0    Tom   28
1   Jack   34
2  dmith   35
3  Ricky   36
4    Sam   35

In [20]:
data = pd.DataFrame({'name':['Tom','Jack',"dmith",'Ricky','Sam','Will',"root"],
                    'age':[28,34,35,36,35,23,33]},index = ['a','b','c','d','e','f','g'])

In [21]:
print(data)

    name  age
a    Tom   28
b   Jack   34
c  dmith   35
d  Ricky   36
e    Sam   35
f   Will   23
g   root   33

In [24]:
print(data['name'])

a      Tom
b     Jack
c    dmith
d    Ricky
e      Sam
f     Will
g     root
Name: name, dtype: object

In [28]:
print(data['age'])

a    28
b    34
c    35
d    36
e    35
f    23
g    33
Name: age, dtype: int64

NameError: name 'index' is not defined

In [30]:
data.loc['a','age']

28

## pandas concatenation

##### it is used to concatenate pandas object along a particular axis with optional set logic along the other axes.

In [31]:
names = pd.DataFrame({'name':['Tom','Jack','Steve','Ricky','Sam','Will','Root']})
ages = pd.DataFrame({'age':[20,30,40,50,60,70,80]})

In [32]:
name2 = pd.DataFrame({'name':['Joe','Pope','Buttler','Ben','James','Cook']})

In [33]:
names

    name
0    Tom
1   Jack
2  Steve
3  Ricky
4    Sam
5   Will
6   Root

In [34]:
ages

   age
0   20
1   30
2   40
3   50
4   60
5   70
6   80

In [35]:
pd.concat([names,ages],axis = 1)

    name  age
0    Tom   20
1   Jack   30
2  Steve   40
3  Ricky   50
4    Sam   60
5   Will   70
6   Root   80

In [39]:
d=pd.concat([names,name2],axis =0).reset_index()

In [40]:
print(d)

    index     name
0       0      Tom
1       1     Jack
2       2    Steve
3       3    Ricky
4       4      Sam
5       5     Will
6       6     Root
7       0      Joe
8       1     Pope
9       2  Buttler
10      3      Ben
11      4    James
12      5     Cook

In [42]:
d.drop('index')

KeyError: "['index'] not found in axis"

# Pandas Indexing

In [44]:
data[data['age']<=30][['name']]

   name
a   Tom
f  Will